<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/pygments.css" rel="stylesheet">
    <!-- other -->
    <link rel="alternate" type="application/rss+xml" href="/rss.xml">
  </head>
  <body>

    <div class="container-fluid">

      {{ content }}

    </div> 

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
